@import '~bootstrap/scss/bootstrap';

// Color of tic-tac-toe boxes
.tic-box {
  border: solid black 3px;
  font-size: 5vw;
  text-align: center;
  color: blue;
  width: 85px;
  height: 85px;
  border-top: 0;
  border-right: 0;
}

// Sets up tictactoe board
.tic-box:first-child {
  border-left: 0;
}

// Sets up tictactoe board
.tic-box:first-child {
  border-left: 0;
}

// Sets up tictactoe board
.box7, .box8, .box9 {
  border-bottom: 0;
}

.tic-box:hover {
  background: #20948B;
}
