@import '~bootstrap/scss/bootstrap';

// Color of tic-tac-toe boxes
.tic-box {
  position: relative;
  border: solid black 3px;
  font-size: 5vw;
  text-align: center;
  color: blue;
  width: 85px;
  height: 85px;
  border-top: 0;
  border-right: 0;
}

// Sets up tictactoe board
.tic-box:first-child {
  border-left: 0;
}

// Sets up tictactoe board
.tic-box:first-child {
  border-left: 0;
}

// Sets up tictactoe board
.box7, .box8, .box9 {
  border-bottom: 0;
}

.tic-box:hover {
  background: #20948B;
  cursor: pointer;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  opacity: 0;
  background: rgba(39, 42, 43, 0.8);
  transition: opacity 200ms ease-in-out;
  border-radius: 4px;
  margin: -15px 0 0 -15px;
  button {
  margin:5px;
  }
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
